.showcase {
    border: 0;
	width: 100%;
	height: 90vh;
    position: relative;
    background-color: #000000;
    background: url('thermometer.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

#parallax {
    min-height: 100vh;
    z-index: 2;
    position: relative;
    top: 80vh;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.showcase::after {
    border: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 200px 250px #000000, inset -120px 0px 250px #000000;
}

.showcase-top {
    /* top: 50px; */
    border: 0;
	position: relative;
	z-index: 2;
	height: 140px;
}

.showcase-top img {
    border: 0;
    /* width: 170px; */
    width: 25vw;
    /* height: 25vw; */
	position: absolute;
	top: -5vh;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;
}



.showcase-content {

    /* top: 50%; */
	/* left: 50%; */
    border: 0;
	position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* margin-top: 9rem; */
}

.showcase-content h1 {
    position: relative;
    /* top: 70%; */
    border: 0;
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.1;
    margin: 0 0 1.7rem;
    color: #fff;
}

.showcase-content p {
    align-self: center;
    border: 0;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
    margin: 0 0 2rem;
    color: #fff;
}




.wave{
    border: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 142px;
    bottom: 0px;
    left: 0;
    background: url('wave.png') ;
    opacity: 1;
    animation: animate 10s linear infinite;
}
.wave:before{
    border: 0;
    content: '';
    width: 100%;
    height: 142px;
    background: url('wave.png') ;
    position: absolute;

    bottom: 0px;
    left: 0;
    z-index: 2;
    opacity: 0.6;
    animation: animate-reverse 10s linear infinite;
}
.wave:after{
    border: 0;
    content: '';
    width: 100%;
    height: 142px;
    background: url('wave.png') ;
    position: absolute;

    bottom: 0px;
    left: 0;
    z-index: 2;
    opacity: 0.8;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1360px;
    }
}
@keyframes animate-reverse{
    0%{
        background-position: 1360px;
    }
    100%{
        background-position: 0px;
    }
}


@media (max-height:566px){
    body{
        display: none;
    }
}

